.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.App-header {
  background-color: #003366;
  min-height: 20vh;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: calc(12px + 1.5vmin);
  border-bottom: 5px solid #007acc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

label {
  font-weight: bold;
}

input, select {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus, select:focus {
  border-color: #007acc;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card h2 {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.product-card p {
  margin: 5px 0;
  font-size: 1.1em;
}
